Repository cultureamp/kaizen-design-system, pull requests merged in 2020-04, with the labels that each got.

#380 docs: add Google Tag Manager to Kaizen Site…
  site/gatsby-config.js
  site/package.json
  yarn.lock
Labels: site dev

#363 docs: Add Tabs documentation
  site/docs/components/button-group.mdx
  site/docs/components/tabs.mdx
Labels: content

#401 fix: update caButtonContainer display type to avoid IE11 issue
  packages/component-library/components/Button/styles.scss
Labels: bug

#429 docs: update typography guidelines
  site/docs/guidelines/typography.mdx
Labels: content

#395 docs: fix links on Guidelines Overview
  site/docs/guidelines/overview.mdx
Labels: content, quick win

#430 docs: update docs for content/canvas dividers
  site/docs/components/divider.mdx
Labels: content
