Repository cultureamp/kaizen-design-system, pull requests merged in 2021-03, with the labels that each got.

#1166 feat: Include notification prop to display on Information Modal
  .tool-versions
  draft-packages/modal/KaizenDraft/Modal/Presets/InformationModal.tsx
  draft-packages/modal/KaizenDraft/Modal/Primitives/ModalFooter.scss
  draft-packages/modal/KaizenDraft/Modal/Primitives/ModalFooter.tsx
  draft-packages/modal/docs/Modal.stories.tsx
  draft-packages/title-block-zen/docs/TitleBlockZen.stories.tsx
Labels: feature

#1223 feat: Added typography support for Heart
  packages/component-library/components/Heading/Heading.module.scss
  packages/component-library/components/Paragraph/Paragraph.module.scss
  packages/design-tokens/css/heart-theme.css
  packages/design-tokens/src/themes/heart.ts
Labels: rebrand

#1217 feat: Added Heart support to avatar
  draft-packages/avatar/KaizenDraft/Avatar/decision-tokens.scss
  draft-packages/avatar/KaizenDraft/Avatar/styles.module.scss
Labels: rebrand

#1225 feat: Add Heart support to loading spinner
  draft-packages/loading-spinner/KaizenDraft/LoadingSpinner/LoadingSpinner.tsx
  draft-packages/loading-spinner/KaizenDraft/LoadingSpinner/styles.module.scss
Labels: rebrand

#1228 feat: Update Popover to support Heart
  draft-packages/popover/KaizenDraft/Popover/styles.scss
Labels: rebrand

#1236 feat: Update Table to support Heart
  draft-packages/table/KaizenDraft/Table/styles.scss
  draft-packages/table/docs/Table.stories.scss
Labels: rebrand

#1234 feat: Add Heart support to vertical-progress-step
  draft-packages/vertical-progress-step/KaizenDraft/VerticalProgressStep/VerticalProgressIndicator/VerticalProgressIndicator.module.scss
  draft-packages/vertical-progress-step/KaizenDraft/VerticalProgressStep/VerticalProgressStep.module.scss
  draft-packages/vertical-progress-step/KaizenDraft/VerticalProgressStep/VerticalProgressStep.tsx
  draft-packages/vertical-progress-step/KaizenDraft/VerticalProgressStep/decision-tokens.scss
Labels: rebrand

#1233 feat: Update SplitButton to support Heart
  draft-packages/split-button/KaizenDraft/SplitButton/styles.scss
  draft-packages/split-button/docs/SplitButton.stories.tsx
Labels: rebrand

#1238 feat: Update Tag to support Heart
  draft-packages/tag/KaizenDraft/Tag/Tag.scss
Labels: rebrand

#1172 feat: update LoadingPlaceholder to support Heart theme
  draft-packages/loading-placeholder/KaizenDraft/LoadingPlaceholder/decision-tokens.scss
  draft-packages/loading-placeholder/KaizenDraft/LoadingPlaceholder/styles.scss
Labels: rebrand

#1218 feat: Update GlobalNotification and InlineNotification to support Heart
  packages/component-library/components/Icon/Icon.module.scss
  packages/component-library/components/Notification/_styles.scss
Labels: rebrand

#1255 feat: Update tooltip to heart theme
  draft-packages/tooltip/KaizenDraft/Tooltip/Tooltip.scss
Labels: rebrand

#1242 feat: Add Heart theme support to Well component
  draft-packages/well/styles.scss
Labels: rebrand

#1159 feat: Update EmptyState to support Heart
  draft-packages/empty-state/KaizenDraft/EmptyState/EmptyState.elm
  draft-packages/empty-state/KaizenDraft/EmptyState/EmptyState.tsx
  draft-packages/empty-state/KaizenDraft/EmptyState/styles.scss
  draft-packages/empty-state/illustrations /action.png
  draft-packages/empty-state/illustrations /informative.png
  draft-packages/empty-state/illustrations /negative.png
  draft-packages/empty-state/illustrations /neutral.png
  draft-packages/empty-state/illustrations /positive.png
  draft-packages/empty-state/package.json
  draft-packages/illustration/KaizenDraft/Illustration/Scene.tsx
  draft-packages/illustration/package.json
Labels: rebrand

#1306 docs: Focus indicator guidance
  draft-packages/form/KaizenDraft/Form/CheckboxGroup/README.mdx
  draft-packages/form/KaizenDraft/Form/RadioField/README.mdx
  draft-packages/form/KaizenDraft/Form/RadioGroup/README.mdx
  draft-packages/likert-scale-legacy/docs/README.mdx
  draft-packages/menu/KaizenDraft/Menu/README.mdx
  draft-packages/select/KaizenDraft/Select/README.mdx
  draft-packages/table/KaizenDraft/Table/README.mdx
  packages/component-library/components/Dropdown/README.mdx
  site/docs/components/button-group.mdx
  site/docs/components/date-picker.mdx
  site/docs/components/rich-text-editor.mdx
  site/docs/components/search-field.mdx
  site/docs/components/split-button.mdx
  site/docs/components/tabs.mdx
  site/docs/components/tile.mdx
  site/docs/guidelines/interaction-states.mdx
  site/docs/guidelines/tables-lists.mdx
Labels: content
