Repository cultureamp/kaizen-design-system, pull requests merged in 2023-09, with the labels that each got.

#4037 Bump node-sass to 9.0.0
  package.json
  yarn.lock
Labels: dependencies

#4019 KAIO migration (chunk 3)
  .changeset/flat-mirrors-fail.md
  packages/components/src/Card/Card.module.scss
  packages/components/src/Card/Card.tsx
  packages/components/src/Card/_docs/Card.mdx
  packages/components/src/Card/_docs/Card.stickersheet.stories.tsx
  packages/components/src/Card/_docs/Card.stories.tsx
  packages/components/src/Card/index.ts
  packages/components/src/Divider/Divider.module.scss
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Divider/_docs/Divider.mdx
  packages/components/src/Divider/_docs/Divider.stickersheet.stories.tsx
  packages/components/src/Divider/_docs/Divider.stories.tsx
  packages/components/src/Divider/index.ts
  packages/components/src/EmptyState/EmptyState.module.scss
  packages/components/src/EmptyState/EmptyState.spec.tsx
  packages/components/src/EmptyState/EmptyState.tsx
  packages/components/src/EmptyState/_docs/EmptyState.mdx
  packages/components/src/EmptyState/_docs/EmptyState.stickersheet.stories.tsx
  packages/components/src/EmptyState/_docs/EmptyState.stories.module.scss
  packages/components/src/EmptyState/_docs/EmptyState.stories.tsx
  packages/components/src/EmptyState/_mixins.scss
  packages/components/src/EmptyState/illustrations/action.png
  packages/components/src/EmptyState/illustrations/informative.png
  packages/components/src/EmptyState/illustrations/negative.png
  packages/components/src/EmptyState/illustrations/neutral.png
  packages/components/src/EmptyState/illustrations/positive.png
  packages/components/src/EmptyState/index.ts
Labels: 10 min review

#4045 KDS-1747-migrate-buttons-to-kaio
  .changeset/strange-beds-trade.md
  packages/components/src/Button/Button/Button.module.scss
  packages/components/src/Button/Button/Button.tsx
  packages/components/src/Button/Button/_docs/Button.mdx
  packages/components/src/Button/Button/_docs/Button.stickersheet.stories.tsx
  packages/components/src/Button/Button/_docs/Button.stories.tsx
  packages/components/src/Button/Button/index.ts
  packages/components/src/Button/DirectionalLink/DirectionalLink.module.scss
  packages/components/src/Button/DirectionalLink/DirectionalLink.tsx
  packages/components/src/Button/DirectionalLink/_docs/DirectionalLink.mdx
  packages/components/src/Button/DirectionalLink/_docs/DirectionalLink.stickersheet.stories.tsx
  packages/components/src/Button/DirectionalLink/_docs/DirectionalLink.stories.tsx
  packages/components/src/Button/DirectionalLink/index.ts
  packages/components/src/Button/GenericButton/GenericButton.module.scss
  packages/components/src/Button/GenericButton/GenericButton.spec.tsx
  packages/components/src/Button/GenericButton/GenericButton.tsx
  packages/components/src/Button/GenericButton/index.ts
  packages/components/src/Button/IconButton/IconButton.module.scss
  packages/components/src/Button/IconButton/IconButton.spec.tsx
  packages/components/src/Button/IconButton/IconButton.tsx
  packages/components/src/Button/IconButton/_docs/IconButton.mdx
  packages/components/src/Button/IconButton/_docs/IconButton.stickersheet.stories.tsx
  packages/components/src/Button/IconButton/_docs/IconButton.stories.tsx
  packages/components/src/Button/IconButton/index.ts
  packages/components/src/Button/PaginationLink/PaginationLink.module.scss
  packages/components/src/Button/PaginationLink/PaginationLink.tsx
  packages/components/src/Button/PaginationLink/_docs/PaginationLink.mdx
  packages/components/src/Button/PaginationLink/_docs/PaginationLink.stickersheet.stories.tsx
  packages/components/src/Button/PaginationLink/_docs/PaginationLink.stories.tsx
  packages/components/src/Button/PaginationLink/index.ts
  packages/components/src/Button/index.ts
  packages/components/src/Button/utils/_mixins.scss
  packages/components/src/Button/utils/_variables.scss
Labels: 20 min review

#3851 KDS-1610 Add new Tag component to KAIO
  .changeset/shiny-cups-look.md
  packages/components/package.json
  packages/components/src/__future__/Tag/Tag.tsx
  packages/components/src/__future__/Tag/_docs/Tag.stories.tsx
  packages/components/src/__future__/Tag/index.ts
Labels: contribution
