Repository cultureamp/kaizen-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @cultureamp/design-systems, @ghost, @cultureamp/delivery-engineering

use dir for l18n, rename classes
  draft-packages/stories/ExampleLayout.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

updated tests
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.spec.tsx
  draft-packages/tabs/KaizenDraft/Tabs/__snapshots__/Tabs.spec.tsx.snap
Owners: @ghost

fix: type in story
  draft-packages/stories/ZenNavigationBar.stories.tsx
Owners: @ghost

changed start to flex-start
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

fix: reverse badge colour for admin theme (#591)
  draft-packages/stories/ZenNavigationBar.stories.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Link.module.scss
Owners: @ghost

chore: release [skip ci]
  draft-packages/zen-navigation-bar/CHANGELOG.md
  draft-packages/zen-navigation-bar/package.json
  draft-packages/zen-off-canvas/CHANGELOG.md
  draft-packages/zen-off-canvas/package.json
Owners: @ghost

fix: renamed the background to stone
  draft-packages/stories/Tabs.stories.tsx
Owners: @ghost

Changed dir to textDirection
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
Owners: @ghost

feat: update empty state to use zen max-width content
  draft-packages/empty-state/KaizenDraft/EmptyState/responsive.scss
Owners: @ghost

fix: Add stylelint ignores for all preexisting usages of !important (#568)
  draft-packages/button/KaizenDraft/Button/styles.scss
  draft-packages/modal/KaizenDraft/Modal/Primitives/GenericModal.scss
  draft-packages/select/KaizenDraft/Select/styles.elm.scss
  draft-packages/split-button/KaizenDraft/SplitButton/styles.scss
  draft-packages/title-block/KaizenDraft/TitleBlock/TitleBlock.scss
  site/src/docs-components/animation/AnimationPresetsExample.scss
  site/src/docs-components/animation/TransitionPresetsExample.scss
  stylelint.config.js
Owners: @ghost

chore: release [skip ci]
  draft-packages/button/CHANGELOG.md
  draft-packages/button/package.json
  draft-packages/modal/CHANGELOG.md
  draft-packages/modal/package.json
  draft-packages/select/CHANGELOG.md
  draft-packages/select/package.json
  draft-packages/split-button/CHANGELOG.md
  draft-packages/split-button/package.json
  draft-packages/title-block/CHANGELOG.md
  draft-packages/title-block/package.json
Owners: @ghost

Allow developer to change the tag of card
  draft-packages/card/KaizenDraft/Card/Card.tsx
  draft-packages/stories/Card.stories.tsx
Owners: @ghost

Add example story for isClearable
  draft-packages/stories/Select.stories.tsx
Owners: @ghost

fix: Add component for ClearIndicator
  draft-packages/select/KaizenDraft/Select/Select.tsx
Owners: @ghost

Added li as allowed tag, removed pre
  draft-packages/card/KaizenDraft/Card/Card.tsx
Owners: @ghost

fix: change first version to 1.0.0
  draft-packages/card/package.json
Owners: @ghost

Use the correct icon for clear
  draft-packages/select/KaizenDraft/Select/Select.tsx
Owners: @ghost

fix: Add clear button to React Select implementation (#595)
  draft-packages/select/KaizenDraft/Select/Select.tsx
  draft-packages/stories/Select.stories.tsx
Owners: @ghost

chore: release [skip ci]
  draft-packages/select/CHANGELOG.md
  draft-packages/select/package.json
Owners: @ghost

feat: add condition so that section title description can be passed in without needing a section title
  draft-packages/title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockZen.scss
  draft-packages/title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockZen.tsx
Owners: @ghost

feat: pass in section description by itself (#598)
  draft-packages/title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockZen.scss
  draft-packages/title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockZen.tsx
Owners: @ghost

chore: release [skip ci]
  draft-packages/title-block-zen/CHANGELOG.md
  draft-packages/title-block-zen/package.json
Owners: @ghost

docs: update color page (#578)
  site/docs/guidelines/color.mdx
  site/src/docs-components/color/legacy/ColorBlock.jsx
  site/src/docs-components/color/legacy/ColorBlockKebab.tsx
  site/src/docs-components/color/legacy/ColorCard.scss
  site/src/docs-components/color/legacy/ColorCard.tsx
  site/src/docs-components/color/legacy/ColorShowcase.scss
  site/src/docs-components/color/legacy/ColorShowcase.tsx
  site/src/docs-components/color/legacy/ContrastIcon.tsx
  site/src/docs-components/color/legacy/Palette.ts
Owners: none

docs: update copy guidelines for Progress Stepper
  site/docs/components/progress-stepper.mdx
Owners: none

fix: Added a better README, updated the generated React component
  packages/generator/README.md
  packages/generator/generators/draft/templates/component-react.txt
  packages/generator/generators/draft/templates/package.txt
  packages/generator/generators/draft/templates/story-react.txt
Owners: @cultureamp/design-systems

fix: Used a colour that developers will know to change
  packages/generator/generators/draft/templates/component-scss.txt
Owners: @cultureamp/design-systems

fix: Removed hover
  draft-packages/card/KaizenDraft/Card/styles.module.scss
Owners: @ghost

feat: Added support for vertical tabs (#579)
  draft-packages/stories/ExampleLayout.module.scss
  draft-packages/stories/ExampleLayout.tsx
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.spec.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/__snapshots__/Tabs.spec.tsx.snap
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

chore: release [skip ci]
  draft-packages/tabs/CHANGELOG.md
  draft-packages/tabs/package.json
Owners: @ghost

CODEOWNERS:

# CODEOWNERS
# https://help.github.com/articles/about-code-owners/

# Require Design Systems Team approval for any new packages or this file
/CODEOWNERS @cultureamp/design-systems
/packages/ @cultureamp/design-systems
/draft-packages/ @ghost

# Exclude modifications to existing packages by assigning it to no one
/packages/hosted-assets @ghost

# Pipelines are maintained by Delivery Engineering:
/.buildkite/ @cultureamp/delivery-engineering
/docker-compose.yml @cultureamp/delivery-engineering
/lerna.json @cultureamp/delivery-engineering
