Repository cultureamp/kaizen-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @cultureamp/frontend-avocados, @ghost, @cultureamp/frontend-ops-approvers

fixed tag manager addon, renamed webpack to avoid future confusion
  storybook/gtm-addon/register.ts
  storybook/header-preset/preset.ts
  storybook/main.ts
Owners: none

Simplified start scripts, removed ts-node
  package.json
  storybook/header-preset/preset.ts
  storybook/preview.ts
Owners: none

remove ts-node
  package.json
  yarn.lock
Owners: none

Use a tagged union for working props
  draft-packages/button/KaizenDraft/Button/components/GenericButton.tsx
Owners: @ghost

Removed async from storybook config as it was causing runtimeException and not needed
  packages/component-library/stories/Box.stories.tsx
  storybook/header-preset/preset.ts
  storybook/main.ts
  yarn.lock
Owners: @cultureamp/frontend-avocados

feat: refactored zen off canvas to export a more robust mobile nav
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/index.ts
  draft-packages/zen-off-canvas/package.json
  yarn.lock
Owners: @ghost

Merge conflicts
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
  draft-packages/zen-off-canvas/package.json
Owners: @ghost

feat: use new global mobile nav events for unrelated react components
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/index.ts
Owners: @ghost

fix: correct pointer events for close
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.module.scss
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.tsx
Owners: @ghost

fix: allow hiding of trigger, now allows for withTrigger prop on navbar
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/context.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/OffCanvas.module.scss
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
Owners: @ghost

chore: Change "close" state to "closed"
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.module.scss
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.tsx
Owners: @ghost

ci: Added hack to allow TS modules to work in Storybook (#830)
  storybook/preview-head.html
  yarn.lock
Owners: none

feat: point $ca-default-font-xxx to $ca-inter-font-xxx
  packages/component-library/styles/type.scss
  packages/deprecated-component-library-helpers/styles/type.scss
Owners: @cultureamp/frontend-avocados

add 'sans-serif' fallback to $ca-inter-font-family
  packages/component-library/styles/type.scss
Owners: @cultureamp/frontend-avocados

feat: point $ca-default-font-xxx to $ca-inter-font-xxx (#828)
  draft-packages/stories/TitleBlockZen.stories.tsx
  draft-packages/title-block-zen/CHANGELOG.md
  draft-packages/title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockZen.tsx
  draft-packages/title-block-zen/package.json
  packages/component-library/styles/type.scss
  packages/deprecated-component-library-helpers/styles/type.scss
  storybook/preview-head.html
  yarn.lock
Owners: @ghost, @cultureamp/frontend-avocados

Added knobs functionality to buttons
  draft-packages/stories/Button.stories.tsx
  packages/component-library/stories/Button.stories.tsx
Owners: @ghost, @cultureamp/frontend-avocados

Story structure fixes
  draft-packages/stories/Collapsible.stories.tsx
  draft-packages/stories/ElmTextField.stories.tsx
  draft-packages/stories/Menu.stories.tsx
  draft-packages/stories/TitleBlockZen.stories.tsx
  packages/component-library/stories/ElmText.stories.tsx
Owners: @ghost, @cultureamp/frontend-avocados

Removed redundant addons
  package.json
  storybook/main.ts
  storybook/manager.ts
  storybook/preview.ts
  storybook/theme.ts
  yarn.lock
Owners: none

Removed more dependencies
  draft-packages/split-button/KaizenDraft/SplitButton/SplitButton.spec.tsx
  draft-packages/stories/Dropdown.stories.tsx
  draft-packages/stories/Menu.stories.tsx
  package.json
  yarn.lock
Owners: @ghost

Removed unused import
  draft-packages/stories/ExampleLayout.tsx
Owners: @ghost

removed comments
  storybook/manager.ts
Owners: none

feat: Allow removal of dismiss button via empty dismissLabel string
  draft-packages/modal/KaizenDraft/Modal/Presets/InputEditModal.tsx
Owners: @ghost

fix: Use correct Button package for Elm Zen Button stories [EOP-367]
  draft-packages/stories/Button.stories.elm
Owners: @ghost

fix: Use correct Button package for Elm Zen Button stories [EOP-367] (#832)
  draft-packages/stories/Button.stories.elm
Owners: @ghost

feat: Remove outside modal click close from input modals
  draft-packages/modal/KaizenDraft/Modal/Presets/InputEditModal.tsx
Owners: @ghost

CODEOWNERS:

# CODEOWNERS
# https://help.github.com/articles/about-code-owners/

# Require Design Systems Team approval for any new packages or this file
/CODEOWNERS @cultureamp/frontend-avocados
/packages/ @cultureamp/frontend-avocados
/draft-packages/ @ghost

# Exclude modifications to existing packages by assigning it to no one
/packages/hosted-assets @ghost

# Pipelines are maintained by Foundation team FE Engineers
/.buildkite/ @cultureamp/frontend-ops-approvers
/docker-compose.yml @cultureamp/frontend-ops-approvers
/lerna.json @cultureamp/frontend-ops-approvers
