Repository cultureamp/kaizen-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @cultureamp/design-systems, @ghost, @cultureamp/delivery-engineering

feat: Added support for vertical tabs
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

docs: Updated spacing table to use new variables (#569)
  site/docs/guidelines/spacing.mdx
Owners: none

feat: Added selected tab styles
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

docs: add Progress Bar docs
  site/docs/components/progress-bar.mdx
Owners: none

docs: remove links to private pages
  site/docs/components/loading-skeleton.mdx
  site/docs/components/loading-spinner.mdx
  site/docs/guidelines/loading-patterns.mdx
Owners: none

docs: link loading patterns to progress bar page
  site/docs/guidelines/loading-patterns.mdx
Owners: none

docs: add Progress Stepper docs
  site/docs/components/progress-stepper.mdx
Owners: none

docs: format progress bar and stepper docs
  site/docs/components/progress-bar.mdx
  site/docs/components/progress-stepper.mdx
Owners: none

fix: Added stories for all the column variants, fixed render prop
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

docs(site): Bump up the all font weights from 300 to 400 (#571)
  site/src/components/PageHeader.scss
  site/src/docs-components/DoAndDontContainer.scss
  site/src/pages/index.scss
  site/src/styles/markdown.scss
Owners: none

feat: add colour scheme to navigation bar
  draft-packages/stories/ZenNavigationBar.stories.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Badge.module.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Link.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Menu.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/types.ts
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/OffCanvas.module.scss
Owners: @ghost

feat: Add layout token for nav bar height
  packages/design-tokens/less/layout.less
  packages/design-tokens/sass/layout.scss
  packages/design-tokens/tokens/layout.json
Owners: @cultureamp/design-systems

fix: build errors
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Link.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Menu.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.tsx
Owners: @ghost

feat: add colour scheme to navigation bar (#583)
  draft-packages/stories/ZenNavigationBar.stories.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/NavigationBar.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Badge.module.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Link.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Menu.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/types.ts
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/OffCanvas.module.scss
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/ZenOffCanvas.tsx
  draft-packages/zen-off-canvas/KaizenDraft/ZenOffCanvas/components/Header.tsx
Owners: @ghost

chore: release [skip ci]
  draft-packages/zen-navigation-bar/CHANGELOG.md
  draft-packages/zen-navigation-bar/package.json
  draft-packages/zen-off-canvas/CHANGELOG.md
  draft-packages/zen-off-canvas/package.json
Owners: @ghost

feat: add radio styles to label
  draft-packages/form/KaizenDraft/Form/Primitives/Label/Label.elm
Owners: @ghost

fix: avoid reliance on Elm18Compatible in UserInteractions/Keyboard
  draft-packages/user-interactions/KaizenDraft/UserInteractions/Keyboard.elm
Owners: @ghost

docs: add a filter drawer page
  site/docs/components/filter-drawer.mdx
Owners: none

chore: used new design token for zen navigation bar height
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Badge.module.scss
Owners: @ghost

docs: update filtering guidelines
  site/docs/guidelines/filtering.mdx
Owners: none

feat: add radio styles to label (#585)
  draft-packages/form/KaizenDraft/Form/Primitives/Label/Label.elm
Owners: @ghost

chore: release [skip ci]
  draft-packages/checkbox-group/CHANGELOG.md
  draft-packages/checkbox-group/package.json
  draft-packages/form/CHANGELOG.md
  draft-packages/form/package.json
  draft-packages/modal/CHANGELOG.md
  draft-packages/modal/package.json
  draft-packages/select/CHANGELOG.md
  draft-packages/select/package.json
  draft-packages/table/CHANGELOG.md
  draft-packages/table/package.json
Owners: @ghost

fix: use Html.Events.keyCode instead of wheel reinvention
  draft-packages/user-interactions/KaizenDraft/UserInteractions/Keyboard.elm
Owners: @ghost

Move row and column into separate components
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

fix: add an Elm type definition
  draft-packages/user-interactions/KaizenDraft/UserInteractions/Keyboard.elm
Owners: @ghost

feat: Add layout token for nav bar height (#582)
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Badge.module.scss
  packages/design-tokens/less/layout.less
  packages/design-tokens/sass/layout.scss
  packages/design-tokens/tokens/layout.json
Owners: @ghost, @cultureamp/design-systems

fix: remove unused classes
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

fix: avoid reliance on Elm18Compatible in UserInteractions/Keyboard (#586)
  draft-packages/user-interactions/KaizenDraft/UserInteractions/Keyboard.elm
Owners: @ghost

chore: release [skip ci]
  draft-packages/user-interactions/CHANGELOG.md
  draft-packages/user-interactions/package.json
Owners: @ghost

feat: add elm radio component
  draft-packages/radio/KaizenDraft/Radio/Primitives/RadioInput.elm
  draft-packages/radio/KaizenDraft/Radio/Radio.elm
  draft-packages/stories/ElmRadio.stories.tsx
  draft-packages/stories/RadioStories.elm
Owners: @ghost

feat: update filter icon
  packages/component-library/icons/filter.icon.svg
Owners: @cultureamp/design-systems

feat: add elm radio component (#581)
  draft-packages/radio/KaizenDraft/Radio/Primitives/RadioInput.elm
  draft-packages/radio/KaizenDraft/Radio/Radio.elm
  draft-packages/stories/ElmRadio.stories.tsx
  draft-packages/stories/RadioStories.elm
Owners: @ghost

chore: release [skip ci]
  draft-packages/radio/CHANGELOG.md
  draft-packages/radio/package.json
Owners: @ghost

fix: Added a layout example
  draft-packages/stories/ExampleLayout.module.scss
  draft-packages/stories/ExampleLayout.tsx
  draft-packages/stories/Tabs.stories.tsx
Owners: @ghost

Updated tests
  draft-packages/tabs/KaizenDraft/Tabs/__snapshots__/Tabs.spec.tsx.snap
Owners: @ghost

fix: remove comments
  draft-packages/stories/Tabs.stories.tsx
Owners: @ghost

implemented rtl
  draft-packages/stories/Tabs.stories.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.spec.tsx
  draft-packages/tabs/KaizenDraft/Tabs/Tabs.tsx
  draft-packages/tabs/KaizenDraft/Tabs/styles.scss
Owners: @ghost

feat: update filter icon (#588)
  packages/component-library/icons/filter.icon.svg
Owners: @cultureamp/design-systems

feat: added a card component
  draft-packages/card/KaizenDraft/Card/Card.tsx
  draft-packages/card/KaizenDraft/Card/styles.module.scss
  draft-packages/card/index.ts
  draft-packages/card/package.json
  draft-packages/card/tsconfig.dist.json
  draft-packages/stories/Card.stories.tsx
Owners: @ghost

fix: reverse badge colour for admin theme
  draft-packages/stories/ZenNavigationBar.stories.tsx
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles.scss
  draft-packages/zen-navigation-bar/KaizenDraft/ZenNavigationBar/components/Link.module.scss
Owners: @ghost

CODEOWNERS:

# CODEOWNERS
# https://help.github.com/articles/about-code-owners/

# Require Design Systems Team approval for any new packages or this file
/CODEOWNERS @cultureamp/design-systems
/packages/ @cultureamp/design-systems
/draft-packages/ @ghost

# Exclude modifications to existing packages by assigning it to no one
/packages/hosted-assets @ghost

# Pipelines are maintained by Delivery Engineering:
/.buildkite/ @cultureamp/delivery-engineering
/docker-compose.yml @cultureamp/delivery-engineering
/lerna.json @cultureamp/delivery-engineering
